<!doctype html>
<html>
<head>
    <title>Hotel</title>

    <style>
    h1 {
        border: 2px black;
        padding: 20px;
        margin: 20px;
        text-align: center;
        font-family: Arial;
    }

    hr {
        height:2px;
        border-width:0;
        color:#00b359;
        background-color:#00b359;
    }

    p {
        font-family: Arial;
        padding: 10px;
        margin: 50px;
    }

    h3 {
        font-family: Arial;
        padding: 10px;
        margin: 50px;
    }

    </style>

</head>
<body>
    {% include 'navbar.html' %}

    {% block content %}
    replacement
    {% endblock %}

    </body>
</html>